<h1>Listado de cursos</h1>

<table>
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Creado por: </th>
        </tr>
    </thead>
    <tbody>
        <% @courses.each do |course| %>
            <tr>
                    <td><%= course.title %></td>
                    <td><%= course.description %></td>
                    <td><%= course.user.username %></td>
                    <td>
                        <%= link_to 'Ver', course%>
                        <%= link_to 'Editar', edit_course_path(course)%>
                        <%= link_to 'Borrar', course, method: :delete, data: {confirm: 'Se borrara peramanentemente'}%>
                    </td>
            </tr>
        <% end %>
        <br>
        <%= link_to 'Crear nuevo curso', new_course_path %>
    </tbody>
</table>
