<div class="container text-center">
    <%= @course.title%>
</div>

<p>
    <%= @course.description%>
</p>

<p>
    <b>Usuario</b>
    <%= @course.user.username%>
</p>
<%= link_to 'editar', edit_course_path(@course)%>

<%= render 'classrooms/form'%>
<% @course.classrooms.each do |classroom|%>
    <h1><%= classroom.days %></h1>
    <p>><%= classroom.start_hour.strftime("%H:%M")%></p>
    <p>><%= classroom.end_hour.strftime("%H:%M")%></p>
    <p>><%= classroom.start_day%></p>
    <p>><%= classroom.end_day%></p>
<% end %>
